body{
    font-family: 'Poppins', sans-serif;
}
.box{
    box-shadow: 10px 10px 40px rgb(61, 61, 172);
}
.scroll{
    background-color: #c8d6e5;
    margin-top: 10px;
    margin-bottom: 10px;
  
}
.text{
    margin-top: 60px;
}
.hal{
    background-color: slateblue;
}